In [107]:
import pandas as pd

In [108]:
produto = pd.read_csv('produtos.csv')
produto

,ID_Produto,Nome_Produto,Categoria,Preco,Marca
0,1,Máquina de Lavar 8kg,Eletrodomésticos,1632.61,NaN
1,2,Smartphone Samsung Galaxy S21,Eletrodomésticos,3306.28,Samsung
2,3,Notebook Dell Inspiron,Eletrodomésticos,1236.89,Dell
3,4,"TV LG 50""",Eletrônicos,170.47,LG
4,5,Geladeira Brastemp Frost Free,Eletrodomésticos,3845.33,Brastemp
...,...,...,...,...,...
94,95,Roteador D-Link,Móveis,1742.87,D-Link
95,96,Smartwatch Huawei,Informática,428.38,Huawei
96,97,Máquina de Costura Elgin,Móveis,4879.18,LG
97,98,Ventilador Mondial,Móveis,4103.17,Mondial
98,99,Cooktop Electrolux,Móveis,4277.48,Electrolux

In [109]:
produto_novo = pd.read_csv('produtos_sem_marca_corrigidos.csv')
produto_novo

    ID_Produto       Marca
0            1    Brastemp
1            2     Samsung
2            3        Dell
3            4          LG
4            5    Brastemp
..         ...         ...
94          95      D-Link
95          96      Huawei
96          97          LG
97          98     Mondial
98          99  Electrolux

[99 rows x 2 columns]

In [110]:
novo = pd.merge(produto, produto_novo, left_on='ID_Produto', right_on='ID_Produto',
how='inner')

In [111]:
novo = novo.drop(columns = 'Marca_x')
novo

,ID_Produto,Nome_Produto,Categoria,Preco,Marca_y
0,1,Máquina de Lavar 8kg,Eletrodomésticos,1632.61,Brastemp
1,2,Smartphone Samsung Galaxy S21,Eletrodomésticos,3306.28,Samsung
2,3,Notebook Dell Inspiron,Eletrodomésticos,1236.89,Dell
3,4,"TV LG 50""",Eletrônicos,170.47,LG
4,5,Geladeira Brastemp Frost Free,Eletrodomésticos,3845.33,Brastemp
...,...,...,...,...,...
94,95,Roteador D-Link,Móveis,1742.87,D-Link
95,96,Smartwatch Huawei,Informática,428.38,Huawei
96,97,Máquina de Costura Elgin,Móveis,4879.18,LG
97,98,Ventilador Mondial,Móveis,4103.17,Mondial
98,99,Cooktop Electrolux,Móveis,4277.48,Electrolux

In [112]:
adicional = pd.read_csv('Produto adicional.csv', sep = ';')
adicional

   ID_Produto Nome_Produto    Categoria  Preco  Marca
0         100       Mouse   Informática    NaN  Inova

In [113]:
novo_produto = novo.rename(columns = {'Marca_y':'Marca'})
novo_produto

,ID_Produto,Nome_Produto,Categoria,Preco,Marca
0,1,Máquina de Lavar 8kg,Eletrodomésticos,1632.61,Brastemp
1,2,Smartphone Samsung Galaxy S21,Eletrodomésticos,3306.28,Samsung
2,3,Notebook Dell Inspiron,Eletrodomésticos,1236.89,Dell
3,4,"TV LG 50""",Eletrônicos,170.47,LG
4,5,Geladeira Brastemp Frost Free,Eletrodomésticos,3845.33,Brastemp
...,...,...,...,...,...
94,95,Roteador D-Link,Móveis,1742.87,D-Link
95,96,Smartwatch Huawei,Informática,428.38,Huawei
96,97,Máquina de Costura Elgin,Móveis,4879.18,LG
97,98,Ventilador Mondial,Móveis,4103.17,Mondial
98,99,Cooktop Electrolux,Móveis,4277.48,Electrolux

In [114]:
novo_p = pd.concat([novo_produto, adicional], ignore_index = True)
novo_p

,ID_Produto,Nome_Produto,Categoria,Preco,Marca
0,1,Máquina de Lavar 8kg,Eletrodomésticos,1632.61,Brastemp
1,2,Smartphone Samsung Galaxy S21,Eletrodomésticos,3306.28,Samsung
2,3,Notebook Dell Inspiron,Eletrodomésticos,1236.89,Dell
3,4,"TV LG 50""",Eletrônicos,170.47,LG
4,5,Geladeira Brastemp Frost Free,Eletrodomésticos,3845.33,Brastemp
...,...,...,...,...,...
95,96,Smartwatch Huawei,Informática,428.38,Huawei
96,97,Máquina de Costura Elgin,Móveis,4879.18,LG
97,98,Ventilador Mondial,Móveis,4103.17,Mondial
98,99,Cooktop Electrolux,Móveis,4277.48,Electrolux
99,100,Mouse,Informática,NaN,Inova

In [115]:
novo_p.to_csv('Produtos_atualizado', index = False)