In [28]:
import pandas as pd
import numpy as np

In [29]:
df_vendas1 = pd.read_csv('venda 1.csv')
df_vendas1

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,19200,57,56,2025-05-25 00:00:00,2,Loja Física,827501
1,19201,183,12,2025-07-12 00:00:00,1,Online,316061
2,19202,935,59,2024-10-18 00:00:00,4,Online,1682784
3,19203,597,67,2025-08-30 00:00:00,4,Online,624174
4,19204,892,71,2025-01-14 00:00:00,2,Online,387035
...,...,...,...,...,...,...,...
995,20195,404,73,2024-12-19 00:00:00,4,Loja Física,117205
996,20196,184,21,2024-10-12 00:00:00,2,Loja Física,244298
997,20197,33,90,2024-12-06 00:00:00,1,Loja Física,326831
998,20198,13,62,2025-05-10 00:00:00,3,Loja Física,833825
999,20199,14,9,2025-03-08 00:00:00,3,Online,1404784

In [30]:
df_vendas1['Valor_Total'] = df_vendas1['Valor_Total'].astype(float)/100
df_vendas1

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,19200,57,56,2025-05-25 00:00:00,2,Loja Física,8275.01
1,19201,183,12,2025-07-12 00:00:00,1,Online,3160.61
2,19202,935,59,2024-10-18 00:00:00,4,Online,16827.84
3,19203,597,67,2025-08-30 00:00:00,4,Online,6241.74
4,19204,892,71,2025-01-14 00:00:00,2,Online,3870.35
...,...,...,...,...,...,...,...
995,20195,404,73,2024-12-19 00:00:00,4,Loja Física,1172.05
996,20196,184,21,2024-10-12 00:00:00,2,Loja Física,2442.98
997,20197,33,90,2024-12-06 00:00:00,1,Loja Física,3268.31
998,20198,13,62,2025-05-10 00:00:00,3,Loja Física,8338.25
999,20199,14,9,2025-03-08 00:00:00,3,Online,14047.84

In [31]:
df_vendas1.to_csv('vendas1.csv', index=False)
df_vendas1

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,19200,57,56,2025-05-25 00:00:00,2,Loja Física,8275.01
1,19201,183,12,2025-07-12 00:00:00,1,Online,3160.61
2,19202,935,59,2024-10-18 00:00:00,4,Online,16827.84
3,19203,597,67,2025-08-30 00:00:00,4,Online,6241.74
4,19204,892,71,2025-01-14 00:00:00,2,Online,3870.35
...,...,...,...,...,...,...,...
995,20195,404,73,2024-12-19 00:00:00,4,Loja Física,1172.05
996,20196,184,21,2024-10-12 00:00:00,2,Loja Física,2442.98
997,20197,33,90,2024-12-06 00:00:00,1,Loja Física,3268.31
998,20198,13,62,2025-05-10 00:00:00,3,Loja Física,8338.25
999,20199,14,9,2025-03-08 00:00:00,3,Online,14047.84

In [32]:
df_vendas2 = pd.read_csv('venda 2.csv')
df_vendas2

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,20200,115,77,2025-05-15 00:00:00,3,Online,1385874
1,20201,818,53,2025-01-14 00:00:00,3,Loja Física,1401033
2,20202,568,94,2025-04-04 00:00:00,4,Online,162292
3,20203,175,42,2025-03-17 00:00:00,3,Loja Física,1045599
4,20204,332,19,2025-02-11 00:00:00,4,Online,1475039
...,...,...,...,...,...,...,...
995,21195,900,36,2025-06-17 00:00:00,2,Loja Física,692925
996,21196,218,4,2025-02-04 00:00:00,4,Loja Física,68188
997,21197,925,54,2024-12-11 00:00:00,2,Online,192603
998,21198,630,57,2024-11-24 00:00:00,2,Loja Física,617504
999,21199,365,21,2025-06-22 00:00:00,3,Loja Física,366447

In [33]:
df_vendas2['Valor_Total'] = df_vendas2['Valor_Total'].astype(float)/100
df_vendas2

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,20200,115,77,2025-05-15 00:00:00,3,Online,13858.74
1,20201,818,53,2025-01-14 00:00:00,3,Loja Física,14010.33
2,20202,568,94,2025-04-04 00:00:00,4,Online,1622.92
3,20203,175,42,2025-03-17 00:00:00,3,Loja Física,10455.99
4,20204,332,19,2025-02-11 00:00:00,4,Online,14750.39
...,...,...,...,...,...,...,...
995,21195,900,36,2025-06-17 00:00:00,2,Loja Física,6929.25
996,21196,218,4,2025-02-04 00:00:00,4,Loja Física,681.88
997,21197,925,54,2024-12-11 00:00:00,2,Online,1926.03
998,21198,630,57,2024-11-24 00:00:00,2,Loja Física,6175.04
999,21199,365,21,2025-06-22 00:00:00,3,Loja Física,3664.47

In [34]:
df_vendas2.to_csv('vendas2.csv', index=False)
df_vendas2

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,20200,115,77,2025-05-15 00:00:00,3,Online,13858.74
1,20201,818,53,2025-01-14 00:00:00,3,Loja Física,14010.33
2,20202,568,94,2025-04-04 00:00:00,4,Online,1622.92
3,20203,175,42,2025-03-17 00:00:00,3,Loja Física,10455.99
4,20204,332,19,2025-02-11 00:00:00,4,Online,14750.39
...,...,...,...,...,...,...,...
995,21195,900,36,2025-06-17 00:00:00,2,Loja Física,6929.25
996,21196,218,4,2025-02-04 00:00:00,4,Loja Física,681.88
997,21197,925,54,2024-12-11 00:00:00,2,Online,1926.03
998,21198,630,57,2024-11-24 00:00:00,2,Loja Física,6175.04
999,21199,365,21,2025-06-22 00:00:00,3,Loja Física,3664.47

In [35]:
df_vendas3 = pd.read_csv('venda 3.csv')
df_vendas3

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,21200,903,55,2025-02-07 00:00:00,2,Online,38762
1,21201,834,3,2024-10-28 00:00:00,1,Online,132302
2,21202,531,84,2025-05-08 00:00:00,4,Loja Física,1619038
3,21203,428,98,2025-03-14 00:00:00,2,Online,820634
4,21204,928,6,2024-12-04 00:00:00,4,Online,1332389
...,...,...,...,...,...,...,...
1995,23195,99,68,2024-11-06 00:00:00,2,Online,922882
1996,23196,225,90,2024-10-14 00:00:00,2,Loja Física,653663
1997,23197,974,15,2024-12-29 00:00:00,4,Loja Física,1256521
1998,23198,269,44,2025-06-13 00:00:00,3,Loja Física,983499
1999,23199,54,23,2024-12-02 00:00:00,2,Online,929618

In [37]:
df_vendas3['Valor_Total'] = df_vendas3['Valor_Total'].astype(float)/100
df_vendas3

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,21200,903,55,2025-02-07 00:00:00,2,Online,387.62
1,21201,834,3,2024-10-28 00:00:00,1,Online,1323.02
2,21202,531,84,2025-05-08 00:00:00,4,Loja Física,16190.38
3,21203,428,98,2025-03-14 00:00:00,2,Online,8206.34
4,21204,928,6,2024-12-04 00:00:00,4,Online,13323.89
...,...,...,...,...,...,...,...
1995,23195,99,68,2024-11-06 00:00:00,2,Online,9228.82
1996,23196,225,90,2024-10-14 00:00:00,2,Loja Física,6536.63
1997,23197,974,15,2024-12-29 00:00:00,4,Loja Física,12565.21
1998,23198,269,44,2025-06-13 00:00:00,3,Loja Física,9834.99
1999,23199,54,23,2024-12-02 00:00:00,2,Online,9296.18

In [38]:
df_vendas3.to_csv('vendas3.csv', index=False)
df_vendas3

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,21200,903,55,2025-02-07 00:00:00,2,Online,387.62
1,21201,834,3,2024-10-28 00:00:00,1,Online,1323.02
2,21202,531,84,2025-05-08 00:00:00,4,Loja Física,16190.38
3,21203,428,98,2025-03-14 00:00:00,2,Online,8206.34
4,21204,928,6,2024-12-04 00:00:00,4,Online,13323.89
...,...,...,...,...,...,...,...
1995,23195,99,68,2024-11-06 00:00:00,2,Online,9228.82
1996,23196,225,90,2024-10-14 00:00:00,2,Loja Física,6536.63
1997,23197,974,15,2024-12-29 00:00:00,4,Loja Física,12565.21
1998,23198,269,44,2025-06-13 00:00:00,3,Loja Física,9834.99
1999,23199,54,23,2024-12-02 00:00:00,2,Online,9296.18

In [39]:
df_vendas = pd.read_csv('vendas.csv')
df_vendas

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,1,350,45,2022-09-23,4,Online,5795.64
1,2,925,68,2024-02-09,1,Loja Física,4614.41
2,3,915,75,2022-09-11,4,Online,2057.48
3,4,494,47,2024-05-10,4,Loja Física,12864.44
4,5,523,79,2023-10-15,4,Loja Física,13317.28
...,...,...,...,...,...,...,...
19995,19996,179,88,2024-04-29,1,Loja Física,247.13
19996,19997,702,8,2023-05-01,2,Online,581.60
19997,19998,163,47,2022-01-11,1,Online,3216.11
19998,19999,593,6,2022-11-22,2,Online,6312.68
19999,20000,170,7,2023-03-03,1,Loja Física,3835.28

In [40]:
dfprodutos = pd.read_csv('produtos.csv')
dfprodutos

,ID_Produto,Nome_Produto,Categoria,Preco,Marca
0,1,Máquina de Lavar 8kg,Eletrodomésticos,1632.61,NaN
1,2,Smartphone Samsung Galaxy S21,Eletrodomésticos,3306.28,Samsung
2,3,Notebook Dell Inspiron,Eletrodomésticos,1236.89,Dell
3,4,"TV LG 50""",Eletrônicos,170.47,LG
4,5,Geladeira Brastemp Frost Free,Eletrodomésticos,3845.33,Brastemp
...,...,...,...,...,...
94,95,Roteador D-Link,Móveis,1742.87,D-Link
95,96,Smartwatch Huawei,Informática,428.38,Huawei
96,97,Máquina de Costura Elgin,Móveis,4879.18,LG
97,98,Ventilador Mondial,Móveis,4103.17,Mondial
98,99,Cooktop Electrolux,Móveis,4277.48,Electrolux

In [48]:
dfproduto_sem_marca = pd.read_csv('produtos_sem_marca_corrigidos.csv')
dfproduto_sem_marca

    ID_Produto       Marca
0            1    Brastemp
1            2     Samsung
2            3        Dell
3            4          LG
4            5    Brastemp
..         ...         ...
94          95      D-Link
95          96      Huawei
96          97          LG
97          98     Mondial
98          99  Electrolux

[99 rows x 2 columns]

In [56]:
produtos1 = pd.merge(dfprodutos, dfproduto_sem_marca, left_on='ID_Produto', right_on='ID_Produto',
how='inner')
produtos1

,ID_Produto,Nome_Produto,Categoria,Preco,Marca_x,Marca_y
0,1,Máquina de Lavar 8kg,Eletrodomésticos,1632.61,NaN,Brastemp
1,2,Smartphone Samsung Galaxy S21,Eletrodomésticos,3306.28,Samsung,Samsung
2,3,Notebook Dell Inspiron,Eletrodomésticos,1236.89,Dell,Dell
3,4,"TV LG 50""",Eletrônicos,170.47,LG,LG
4,5,Geladeira Brastemp Frost Free,Eletrodomésticos,3845.33,Brastemp,Brastemp
...,...,...,...,...,...,...
94,95,Roteador D-Link,Móveis,1742.87,D-Link,D-Link
95,96,Smartwatch Huawei,Informática,428.38,Huawei,Huawei
96,97,Máquina de Costura Elgin,Móveis,4879.18,LG,LG
97,98,Ventilador Mondial,Móveis,4103.17,Mondial,Mondial
98,99,Cooktop Electrolux,Móveis,4277.48,Electrolux,Electrolux

In [67]:
atendimentos = pd.read_csv('atendimentos.csv')
atendimentos

,ID_Atendimento,ID_Cliente,Tipo,Data,Tempo_Resposta,Nota_Satisfacao
0,1,52,Elogio,2023-10-17,14.79,2
1,2,93,Dúvida,2022-04-25,0.33,4
2,3,15,Reclamação,2022-01-26,70.74,1
3,4,72,Elogio,2024-01-30,14.35,5
4,5,61,Reclamação,2022-10-09,11.54,1
...,...,...,...,...,...,...
296,297,9,Reclamação,2023-03-25,12.31,2
297,298,99,Dúvida,2024-07-10,4.33,4
298,299,19,Reclamação,2023-06-14,1.96,5
299,300,48,Elogio,2023-04-08,138.04,1
300,301,80,Elogio,2022-05-04,11.67,5

In [68]:
atendimentos['Tempo_Resp'] = atendimentos['Tempo_Resposta'] * 60
atendimentos

,ID_Atendimento,ID_Cliente,Tipo,Data,Tempo_Resposta,Nota_Satisfacao,Tempo_Resp
0,1,52,Elogio,2023-10-17,14.79,2,887.4
1,2,93,Dúvida,2022-04-25,0.33,4,19.8
2,3,15,Reclamação,2022-01-26,70.74,1,4244.4
3,4,72,Elogio,2024-01-30,14.35,5,861.0
4,5,61,Reclamação,2022-10-09,11.54,1,692.4
...,...,...,...,...,...,...,...
296,297,9,Reclamação,2023-03-25,12.31,2,738.6
297,298,99,Dúvida,2024-07-10,4.33,4,259.8
298,299,19,Reclamação,2023-06-14,1.96,5,117.6
299,300,48,Elogio,2023-04-08,138.04,1,8282.4
300,301,80,Elogio,2022-05-04,11.67,5,700.2

In [69]:
atendimentos = atendimentos.drop('Tempo_Resposta', axis=1)
atendimentos

,ID_Atendimento,ID_Cliente,Tipo,Data,Nota_Satisfacao,Tempo_Resp
0,1,52,Elogio,2023-10-17,2,887.4
1,2,93,Dúvida,2022-04-25,4,19.8
2,3,15,Reclamação,2022-01-26,1,4244.4
3,4,72,Elogio,2024-01-30,5,861.0
4,5,61,Reclamação,2022-10-09,1,692.4
...,...,...,...,...,...,...
296,297,9,Reclamação,2023-03-25,2,738.6
297,298,99,Dúvida,2024-07-10,4,259.8
298,299,19,Reclamação,2023-06-14,5,117.6
299,300,48,Elogio,2023-04-08,1,8282.4
300,301,80,Elogio,2022-05-04,5,700.2

In [70]:
atendimentos.to_csv('atendimentos.csv', index=False)
atendimentos

,ID_Atendimento,ID_Cliente,Tipo,Data,Nota_Satisfacao,Tempo_Resp
0,1,52,Elogio,2023-10-17,2,887.4
1,2,93,Dúvida,2022-04-25,4,19.8
2,3,15,Reclamação,2022-01-26,1,4244.4
3,4,72,Elogio,2024-01-30,5,861.0
4,5,61,Reclamação,2022-10-09,1,692.4
...,...,...,...,...,...,...
296,297,9,Reclamação,2023-03-25,2,738.6
297,298,99,Dúvida,2024-07-10,4,259.8
298,299,19,Reclamação,2023-06-14,5,117.6
299,300,48,Elogio,2023-04-08,1,8282.4
300,301,80,Elogio,2022-05-04,5,700.2